@import "colors";

html {
	min-height: 100%;
} 
body {
	height: 100vh;
	position: relative;
	background-color: white;
	color: #2C2C2C;
	font: normal 100% Cambria, Georgia, serif;
	box-sizing: border-box;
} 

/************** Header Component *************/
header {
	background-color: #9c48ea;
	font-size: 2em;
	height: 4.5vh;
	color: LightYellow;
}
header .heading {
	height: 100%;
	position: relative;
	
}
header .column {
	display: inline-block;
	width: 33.333%;
	height: 100%;
}
header a {
	text-decoration: none;
	color: #f4f1c8;
}
header .logo {
	height: 1.3em;
	width: 1.3em;
	line-height: 200%;
}
header .title {
	text-align: center;
}

header .userstatus {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: .5em;
	height: 0;
	text-align: right;
}
/************* Hero Component **************/
#mainhero {
	 background: url('../assets/jellybeans.jpg');
	height: 30vh;
	width: 100%;
}
#mainhero .welcome {
	text-shadow:1px 1px 1px #f4f1c8;
	color: #0326c1;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
.welcome p {
	font-size: 100px;
}
/************* Main Navigation **********/
#navigation {
	height: 4.5vh;
	width: 100%;
	background-color: purple;

  nav {
  	height: 100%;
  	margin: 0 auto;
  }
  li {
  	display: inline-block;
  	width: 25%;
  	text-align: center;
  	font-size: 1.5em;
  	line-height: 190%;
  }
  a {
    color: $chocoBrown;
  }
 } 
/************* Home Component ***********/
#page {
	height: 52vh;
	width: 100%;
	background: #fcd9fc;
}

/* Main Content*/
.contentBox {
	height: 56%;
	
}
.content {
	
}
.candyCategory {
	display: inline-block;
	width: 30%;
	margin-right: 5%;
}
.candyCategory:last-child {
	margin-right: 0;
}
/********** Candies Component ***********/
.sidemenu {
	display: inline-block;
	width: 20%;
	height: 100%;
	background-color: #4E2E28; /* chocolate brown*/
	text-align: center;
	color: LightYellow;
	position: absolute;
	top: 0;
	left: 0;
    .headingcontainer {
    	padding-top: 20px;
    	padding-bottom: 10px;
    	background: Maroon;
    }
    h3 {
    	font-size: 1.3em;
    }
    a {
      color: LemonChiffon;
    }
}
.candypage {
	height: 86.5vh;
	width: 100%;
	background-color: LightCyan;
	position: relative;
}
.candieshero {
	height: 20%;
	font-size: 4em;
	background-color: #FF69B4; /* candy pink */
	text-align: center;
	line-height: 250%;
  color: LightYellow;
}
.allcandy {
  @extends .candieshero;
  background: url('../assets/allheader.jpg');

}
.hardcandy {
  @extends .candieshero;
  background: url('../assets/hardheader.jpg');
}
.gummycandy {
  @extends .candieshero;
  background: url('../assets/gummyheader.jpg');
}
.chocolate {
  @extends .candieshero;
  background: url('../assets/chocoheader.jpg');
}

.maincontent {
	display: inline-block;
	width: 80%;
	height: 100%;
	background-color: LemonChiffon;
	position: absolute;
	top: 0;
	left: 20%;
}
.maincontent .headingcontainer {
	font-size: 2em;
	text-align: center;
}
/********** Candy Lists ********/
.candylist {
	border: red dotted 2px;
	height: 80%;
	text-align: center;
}
.candycontainer {
	height: 90%;
	width: 90%;
	margin: auto;
}
.candycontainer figure {
	display: inline-block;
	height: 25%;
	width: 28%;
	border: blue dotted 2px;
	text-align: center;
}
.candycontainer img {
  height: 60%;
  width: 60%;
}
/********** Login/Signup Forms *********/
.form h3, form h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.form h4, form h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}
.loginpage {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #9c48ea;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #833cc4;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
/* body {
  background: #76b852; fallback for old browsers
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
} */
/******* Suggestions and Requests Form **********/
/*body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  
  background: #4CAF50;
}*/

.suggestionsandrequests {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  color: #777;
}

#contactform input[type="text"],
#contactform input[type="email"],
#contactform input[type="tel"],
#contactform input[type="url"],
#contactform textarea,
#contactform button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contactform {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}



fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contactform input[type="text"],
#contactform input[type="email"],
#contactform input[type="tel"],
#contactform input[type="url"],
#contactform textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contactform input[type="text"]:hover,
#contactform input[type="email"]:hover,
#contactform input[type="tel"]:hover,
#contactform input[type="url"]:hover,
#contactform textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contactform textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contactform button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #9c48ea;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contactform button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contactform button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contactform input:focus,
#contactform textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
/********** Footer *********/
footer {
	height: 9vh;
	width: 100%;
	background-color: #9c48ea;
	font-size: 1.5em;
	text-align: center;
	position: absolute;
	bottom: 0;
}

/***** Helpers *******/
.wrap {
	width: 80%;
	margin: 0 auto;
}
